<!DOCTYPE html>
<html>
    <head>
        <a href="/"><button>Home</button></a>
        <a href="/cliente"><button>Cliente</button></a>
        <a href="/vendedor"><button>Vendedor</button></a>
        <a href="/loja"><button>Loja</button></a>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
