<!DOCTYPE html>
<html>
    <head>
        <a href="/"><button>Home</button></a>
        <a href="/cliente"><button>Cliente</button></a>
        <a href="/vendedor"><button>Vendedor</button></a>
        <a href="/loja"><button>Loja</button></a>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <style>
                a{
                    color: blue;
                    text-decoration:none;
                }
                a:hover{
                    color: grey;
                }
            </style>
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
