{% extends 'base.html.twig' %}

{% block title %}Edit Vendedor{% endblock %}

{% block body %}
    <h1>Editar Vendedor</h1>

    {{ include('vendedor/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('vendedor_index') }}">Voltar para a lista</a>

    {{ include('vendedor/_delete_form.html.twig') }}
{% endblock %}
