{% extends 'base.html.twig' %}

{% block title %}New Vendedor{% endblock %}

{% block body %}
    <h1>Criar novo vendedor</h1>

    {{ include('vendedor/_form.html.twig') }}

    <a href="{{ path('vendedor_index') }}">Voltar a lista</a>
{% endblock %}
