{% extends 'base.html.twig' %}

{% block title %}New Loja{% endblock %}

{% block body %}
    <h1>Criar uma loja nova</h1>

    {{ include('loja/_form.html.twig') }}

    <a href="{{ path('loja_index') }}">Voltar para a lista</a>
{% endblock %}
