{% extends 'base.html.twig' %}

{% block title %}New Cliente{% endblock %}

{% block body %}
    <h1>Criar novo cliente</h1>

    {{ include('cliente/_form.html.twig') }}

    <a href="{{ path('cliente_index') }}">Voltar para a lista</a>
{% endblock %}
