<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Carros mais baratos -por mais que pareça mentira- do Brasil</title>
    <style>
        
    </style>
</head>
<body>
    <form action="/add" method="post">
        <div>
            <label>Marca</label><lr>
            <input type="text" name = "marca"/>
        </div>
        <div>
            <label>Modelo</label>
            <input type="text" name = "modelo"/>
        </div>
        <div>
            <label>Preço</label>
            <input type="number" name = "preco"/>
        </div>
        <div>
            <input type="submit" value="Cadastrar"/>
        </div>
    </form>
    <table>
        <thead>
            <tr>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Preço</th>
            </tr>
        </thead>
        <tbody>
            {% for carros in carros %}
            <tr>
                <td>{{ carros.marca }}</td>
                <td>{{carros.modelo}}</td>
                <td>R$ {{carros.preco}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>